<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597806138436-l6d0uh0u7657cuae13bmkehr43u6lbck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597806138436-l6d0uh0u7657cuae13bmkehr43u6lbck</string>
	<key>API_KEY</key>
	<string>AIzaSyAgOXlm614pCCGWZoQ7kUFlFy5u7qLvsVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>597806138436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.News</string>
	<key>PROJECT_ID</key>
	<string>news-ba9ea</string>
	<key>STORAGE_BUCKET</key>
	<string>news-ba9ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597806138436:ios:cd9580132d028759</string>
	<key>DATABASE_URL</key>
	<string>https://news-ba9ea.firebaseio.com</string>
</dict>
</plist>